@import "tailwindcss";
@plugin "@tailwindcss/typography";

.pencerio { 
  font-family: 'Pencerio', cursive;
}
.aktura { 
  font-family: 'Aktura', serif;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}

.jp {
  font-family: "Noto Sans JP", sans-serif;
}

.prose-img {
  img {
    border-radius: 1rem;
  }
}

::selection { 
  color: #f5f5f5;
  background-color: #262626;
}

